<!DOCTYPE html>
<html>
  <head>
    <title>Гонка года</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Гонка года</h1>
    <h2>Зарегистрируйте авто для участия в соревнованиях!</h2>
    <div>
      <a href="/registration-form">Регестрация авто</a><br /><br />
      <a href="/list-cars">Список участников</a>
    </div>
  </body>
</html>
