<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Форма регистрации</title>
  </head>
  <body>
    <h1>Форма регистрации</h1>

    <form>
      <label>
        Марка авто:
        <input type="text" />
      </label>

      <label>
        Год выпуска:
        <input type="text" />
      </label>

      <label>
        Номерной знак:
        <input type="text" />
      </label>

      <label>
        Имя владельца:
        <input type="text" />
      </label>

      <button>Зарегистрировать</button>
    </form>

    <a href="/">На главную</a>
  </body>
</html>
